.list-group-item {
  line-height: 2.5;
}

.brand-logo {
  margin-left: 5%;
  /* font-family: 'Averia Serif Libra'; */
  font-family: 'Permanent Marker';
  /* font-family: 'Knewave'; */
}

nav {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #e57373;
}

.collapsible-header {
  background-color: #e57373;
  color: #ffffff;
}

body {
  background-image: url("../images/doodles.png");
}

.container {
  background-color: #ffffff;
}